nav{
    display: flex;
    flex-flow: column wrap;
    width: 11vw;
    color: rgb(144, 144, 144);
    background-color: rgb(40, 40, 40);
    height: 80vh;
    justify-content: flex-start;
}
a.nav-link-box{
    padding-left: 10px;
    color: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
}
a.nav-link-box i{
    width: 20%;
    font-size: 1.5em;
    padding: 10px;
}
a.nav-link-box p{
    width: 80%;
    text-align: left;
    padding-left: 15px;
    color: whitesmoke;
}
a.nav-link-box:hover{
    text-decoration: none;
    background-color: rgb(62, 62, 62);
}